<% content_for :title, "Processes" %>
<%= swui_page(title: "Processes", nav: queue_nav(:processes)) do %>
  <%= swui_table(headers: [ "Kind", "Name", "PID", "Host", "Last heartbeat" ], empty_message: "No running processes.") do %>
    <% @processes.each do |process| %>
      <tr>
        <td><%= swui_status_badge(label: process.kind, status: :info) %></td>
        <td><%= process.name %></td>
        <td><%= process.pid %></td>
        <td><%= process.hostname %></td>
        <td><%= short_time(process.last_heartbeat_at) %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
